#!/usr/bin/make -sf

.PHONY: build binary install clean stage control

build:
	package/compile

binary: stage control
	for i in publicfile djbdns clockspeed ptyget ucspi-tcp daemontools multilog taiclockd libtai leapsecs djbdns-host ; \
	do \
		dpkg-deb -b debian/"$$i" ../ || exit 1 ; \
	done

stage:
	echo 1>&2 "Building exported image."
	package/export debian/tmp/ debian/tmp/ debian/tmp/
	echo 1>&2 "Building staging areas."
	package/stage debian/tmp debian

control:
	${RM} debian/files
	for i in publicfile djbdns clockspeed ptyget ucspi-tcp daemontools multilog taiclockd libtai djbdns-host ; \
	do \
		echo 1>&2 "Building control file for "$$i"." ; \
		${RM} debian/substvars ; \
		install -d debian/"$$i"/DEBIAN || exit 1 ; \
		dpkg-shlibdeps debian/"$$i"/usr/local/*bin/* || exit 1 ; \
		debian/gencontrol "$$i" debian/"$$i" || exit 1 ; \
	done
	for i in leapsecs ; \
	do \
		echo 1>&2 "Building control file for "$$i"." ; \
		${RM} debian/substvars ; \
		install -d debian/"$$i"/DEBIAN || exit 1 ; \
		debian/gencontrol "$$i" debian/"$$i" || exit 1 ; \
	done

clean:
	${RM} debian/files debian/substvars
	for i in publicfile djbdns clockspeed ptyget ucspi-tcp daemontools multilog taiclockd libtai leapsecs djbdns-host ; \
	do \
		${RM} -r debian/"$$i"/ ; \
	done
	${RM} -r debian/tmp/
